{% extends 'courseblog/index.html' %}
{% block content %}
    <!--=================================
        BREADCRUMB START
    ==================================-->
    <section class="tf__breadcrumb" style="background: url(images/breadcrumb_bg_1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tf__breadcrumb_text">
                        <h2>About us</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
        BREADCRUMB END
    ==================================-->


    <!--=================================
        ABOUT US PAGE START
    ==================================-->
    <section class="tf__about_us_page mt_195 xs_mt_100">
        <div class="tf__about_2_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="tf__about_2_img">
                            <div class="tf__about_small">
                                <img src="images/about_2_img_2.jpg" alt="about us" class="img-fluid w-100">
                            </div>
                            <div class="tf__about_large">
                                <img src="images/about_2_img_1.jpg" alt="about us" class="img-fluid w-100">
                            </div>
                            <p><span>24+</span> Years of Experience</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-duration="1.5s">
                        <div class="tf__about_2_text">
                            <div class="tf__heading_area tf__heading_area_left mb_25">
                                <h5>OUR About Us</h5>
                                <h2>Complete About Students University Education.</h2>
                            </div>
                            <p>Business tailored it design, management & support services
                                business agency elit, sed do eiusmod tempor. </p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <img src="images/about_2_icon_1.jpg" alt="about" class="img-fluid w-100">
                                    </div>
                                    <div class="text">
                                        <h4>Successflly Trained</h4>
                                        <p>Business tailored it design, management support services.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="images/about_2_icon_2.jpg" alt="about" class="img-fluid w-100">
                                    </div>
                                    <div class="text">
                                        <h4>Education Growth</h4>
                                        <p>Business tailored it design, management support services.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="images/about_2_icon_3.jpg" alt="about" class="img-fluid w-100">
                                    </div>
                                    <div class="text">
                                        <h4>Students Trained</h4>
                                        <p>Business tailored it design, management support services.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="images/about_2_icon_4.jpg" alt="about" class="img-fluid w-100">
                                    </div>
                                    <div class="text">
                                        <h4>Successflly Trained</h4>
                                        <p>Business tailored it design, management support services.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 mt_110 xs_mt_50 wow fadeInUp" data-wow-duration="1.5s">
                        <div class="tf__about_us_counter d-flex flex-wrap align-items-center">
                            <p><span class="counter">27,0000</span> More Students courde youn do best !</p>
                            <a href="#">Export All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
        ABOUT US PAGE END
    ==================================-->
{% endblock content %}