{% extends 'courseblog/index.html' %}
{% load static %}
{% block content %}

<section class="tf__courses_page mt_190 xs_mt_95"> 
    <div class ='container'>
        <div class = 'row'>

            <!-- Shipping-Form Section -->

            <div class='col-md-6'>
                
                <div class="uk-width-xlarge uk-margin">
                    <div class="uk-card uk-card-small uk-card-default uk-card-body">
                        <form class="row g-3" id ='shipping-form'>
                        
                        <div id = 'shippingInfo'>
                            <h2>You are almost done shopping!!</h2>
                        </div>
                        
                        <button type="button" class="nav-link common_btn_2" onclick="payWithPaystack()">Pay Now</button>

                        </form>
                        
                        
                    </div>
                </div>
            </div>




            <!-- Cart Section -->


            <div class = 'col-md-6'>
                <div class="uk-width-xlarge uk-margin">
                    <div class="uk-card uk-card-small uk-card-default uk-card-body"><table class="table">
                        <thead>
                            <tr>
                            
                            <h2>Order Summary</h2>
                            <h3><strong>Total: ₦{{cart.grandtotal|floatformat:'2'}}</strong><h3></h3>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for item in cartitems %}
                            <tr>
                            
                                <td scope="row"><div id = "cart_image"><img src = '{{item.product.image.url}}'></div></td>
                                <td><h6>{{item.product.name}}</h6></td>
                                <td><h6>x{{item.quantity}}</h6></td>
                                <td><h6>₦{{item.product.price}}</h6></td>
                                <td><h6></h6></td>
                                <td><h6>₦{{item.subtotal}}</h6></td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                        </table></div></div>

                
            </div>



        

        </div>
    </div>
</section>

{% endblock content %}
{% block script %}

    <script src="https://js.paystack.co/v1/inline.js"></script>

        

    
    



    <script>
        let total = "{{cart.grandtotal}}"
        function makepayment(reference){

            const data = { cart_total: total , 
            r:reference};

            let url = " {% url 'payment' %} "

            fetch(url, {
            method: 'POST', // or 'PUT'
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            alert('Payment made successfully' + reference)
            window.location.href=" {%url 'shop' %} "
            })
            .catch((error) => {
            console.error('Error:', error);
            });
        }
        var paymentForm = document.getElementById('shipping-form');
        paymentForm.addEventListener('submit', payWithPaystack, false);
        var amount_value = "{{cart.grandtotal}}"
        function payWithPaystack() {
            var handler = PaystackPop.setup({
                key: 'pk_test_1728f91e9761eb2586d060c9dffee082d093ef87', // Replace with your public key
                email: "{{ request.user.email }}",
                amount: parseInt(amount_value) * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
                currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
                
                callback: function(response) {
                //this happens after the payment is completed successfully
                var reference = response.reference;
                //alert('Payment complete! Reference: ' + reference);
                // Make an AJAX call to your server with the reference to verify the transaction
                makepayment(reference)
                },
                onClose: function() {
                alert('Transaction was not completed, window closed.');
                },
            });
        handler.openIframe();
        }
    </script>

    <!--jquery library js-->
    <script src="{% static 'courseblog/js/jquery-3.6.3.min.js' %}"></script>
    <!--bootstrap js-->
    <script src="{% static 'courseblog/js/bootstrap.bundle.min.js' %}"></script>
    <!--font-awesome js-->
    <script src="{% static 'courseblog/js/Font-Awesome.js' %}"></script>
    <!--venobox js-->
    <script src="{% static 'courseblog/js/venobox.min.js' %}"></script>
    <!--slick slider js-->
    <script src="{% static 'courseblog/js/slick.min.js' %}"></script>
    <!--wow js-->
    <script src="{% static 'courseblog/js/wow.min.js' %}"></script>
    <!--counterup js-->
    <script src="{% static 'courseblog/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'courseblog/js/jquery.countup.min.js' %}"></script>
    <!--animated barfiller js-->
    <script src="{% static 'courseblog/js/animated_barfiller.js' %}"></script>
    <!--sticky sidebar js-->
    <script src="{% static 'courseblog/js/sticky_sidebar.js' %}"></script>
    <!--nice select js-->
    <script src="{% static 'courseblog/js/jquery.nice-select.min.js' %}"></script>

    <!--main/custom js-->
    <script src="{% static 'courseblog/js/main.js' %}"></script>
    <script>
        let btns = document.getElementsByClassName('addtocart')
        for(let i = 0; i < btns.length; i++){
        btns[i].addEventListener('click', function(e){
            let product_id = e.target.dataset.product
            let action = e.target.dataset.action
            console.log(product_id)
            if(user=='AnonymousUser'){
            console.log('Ypu are not signed in')
            }

            else{
            addToCart(product_id, action)
            }
        })
        }


        function addToCart(p_id, act){
        const data = {product_id: p_id, action: act};


        let url = '/updatecart'
        fetch(url, {
        method: 'POST', // or 'PUT'
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        document.getElementById('cart').innerHTML = `<span>${data.quantity}</span>`
        })
        .catch((error) => {
        console.error('Error:', error);
        });

        }

        let inputfields = document.getElementsByTagName('input')
        for(let i =0; i<inputfields.length; i++){
        inputfields[i].addEventListener('change', updateQuantity)
        
        }

        function updateQuantity(e){
        let inputvalue = e.target.value
        let product_id = e.target.dataset.product

        const data = {p_id: product_id, in_val: inputvalue};
        let url = '/updatequantity'

        fetch(url, {
            method: 'POST', // or 'PUT'
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            e.target.parentElement.parentElement.children[4].innerHTML = `<h3>$${data.subtotal.toFixed(2)}</h3>`
            document.getElementById('total').innerHTML = `<h3><strong>$${data.grandtotal.toFixed(2)}</strong></h3> `
            document.getElementById('cart').innerHTML = `<span>${data.quantity}</span>`
            
        })
        .catch((error) => {
            console.error('Error:', error);
        });
        }
    </script>
{% endblock script %}