{% extends 'courseblog/index.html' %}
{% block content %}
<section class="tf__breadcrumb" style="background: url(images/breadcrumb_bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tf__breadcrumb_text">
                    <h2>orders</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">orders</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf__courses_page mt_190 xs_mt_95">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Product name</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">#</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                      </tbody>
                </table>
              </div>
        </div>
    </div>
</section>
{% endblock %}