{% extends "courseblog/index.html" %}
{% load allauth i18n %}
{% block content %}
<!--=================================
        BREADCRUMB START
    ==================================-->
    <section class="tf__breadcrumb" style="background: url(images/breadcrumb_bg_1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tf__breadcrumb_text">
                        <h2>Logout</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
        BREADCRUMB END
    ==================================-->


    <!--=================================
        COURSES PAGE START
    ==================================-->
    <section class="tf__courses_page mt_190 xs_mt_95">
        <div class="container">
            <div class="row">
                    <h2>{% trans 'Are you sure you want to sign out?' %}</h2>
                    {% url 'account_logout' as action_url %}
                    {% element form method="post" action=action_url no_visible_fields=True %}
                        {% slot body %}
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                    name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                            {% endif %}
                        {% endslot %}
                        {% slot actions %}
                            <button type="submit" class="nav-link common_btn_2">Logout</a>
                        {% endslot %}
                        
                    {% endelement %}
            </div>
        </div>
    </section>
{% endblock content %}
