{% extends "courseblog/index.html" %}
{% load allauth i18n %}
{% block content %}

<section class="tf__courses_page mt_190 xs_mt_95">
    <div class="container">
        <div class="row">
                    <h1>Change Password</h1>
                {% url 'account_change_password' as action_url %}
                {% element form form=form method="post" action=action_url %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                        {% element button type="submit" %}
                            {% trans "Change Password" %}
                        {% endelement %}
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                {% endelement %}
        </div>
    </div>
</section>
{% endblock content %}

